@font-face {
  font-family: "Saans TRIAL Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/SaansTRIAL-Bold.woff2") format("woff2"),
  url("../assets/fonts/SaansTRIAL-Bold.woff") format("woff");
}

@font-face {
  font-family: "Saans TRIAL Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/SaansTRIAL-Medium.woff2") format("woff2"),
  url("../assets/fonts/SaansTRIAL-Medium.woff") format("woff");
}

@font-face {
  font-family: "Saans TRIAL Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/SaansTRIAL-Regular.woff2") format("woff2")
  url("../assets/fonts/SaansTRIAL-Regular.woff") format("woff");
}
