@mixin status-color($status) {
    @if $status == 'pending' {
      color: $orange;
    } @else if $status == 'completed' {
      color: $green;
    } @else if $status == 'overdue' {
      color: $pink;
    } @else {
      color: $purple;
    }
  }