// Colors Branding
$background-color: #FEF8F7;
$marin-blue: #28188A;
$blue: #71E3E8;
$blue-darker: #71e2e8c8;
$green: #70F9AF;
$pink: #FF9F9F;
$orange: #FCB069;
$purple: #2D0C2D;
$brown: #540000;

// Fonts Branding
$bold: "Saans TRIAL Bold";
$medium: "Saans TRIAL Medium";
$regular: "Saans TRIAL Regular";
